img{
    max-width: 100%;
}

.navbar{
    border-radius: 0;
}

form.search{
    margin-top: 100px;
}

form.search .btn{
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.track{
    padding: 22px 25% 22px 10px;
    position: relative;
}

.track:hover{
    background: #EEEEEE;
}

.track img{
    margin: -10px 10px -10px 0;
}

.track .add-to-queue{ 
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron.artist h1{
    display: inline;
    margin: 0 0 0 100px;
    vertical-align: middle;
}

.album header.title{
    margin-bottom: 10px;
}

.album header.title h2{
    display: inline;
    margin-left: 20px;
    vertical-align: middle;
}

.track-artist:first-of-type:before{
    content: '- ';
}

.track-artist:after{
    content: ',';
}

.track-artist:last-of-type:after{
    content: '';
}