{% extends "base-template.html.twig" %}

{% block content %}

    <form action="/search-results">
        <input type="text" name="term" id="term">
        <input type="submit">
    </form>

{% endblock %}