{% extends "base-template.html.twig" %}

{% block content %}

    <form action="/search/results" class="text-center search">
        <div class="form-group form-group-lg">
            <input type="text" class="form-control" name="term" id="term" placeholder="Bangin' choooooonz m8...">
            <input type="submit" value="Search" class="btn btn-success">
        </div>
    </form>


{% endblock %}