{% extends "base-template.html.twig" %}

{% block content %}

    <form action="/search-results">
        <input type="text" name="term" id="term">
        <input type="submit">
    </form>

    <a href="/queue/clear/">Clear Queue</a>
    <a href="/queue/reset-most-recent/">Reset Most Recent</a>

{% endblock %}